<a href="https://colab.research.google.com/github/iued-uni-heidelberg/corpustools/blob/main/cwb2021experimentsV08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Working with CWB on Colab
Author: Bogdan Babych, IÃœD, Heidelberg University

Modifying CWB installations and packages to work with colab environment

### Downloading packages and data

In [ ]:
!wget https://heibox.uni-heidelberg.de/f/7f1e8929352b4cf4b13a/?dl=1

In [ ]:
!mv index.html?dl=1 cwb-3.4.22-source.tar.gz

In [ ]:
!tar xvfz cwb-3.4.22-source.tar.gz

### Installing the parser generator 'bison'

In [ ]:
!apt-get install flex bison

### Replacing the configuration file
Using correct environment and 'standard' location for installation (otherwise python bindings do not work)

In [ ]:
!wget https://heibox.uni-heidelberg.de/f/67bb38a210064bc5961e/?dl=1
!mv /content/cwb-3.4.22/config.mk /content/cwb-3.4.22/config.mk.old.01
!mv index.html?dl=1 /content/cwb-3.4.22/config.mk

In [ ]:
# alternative: editing the file at the line numbers
!awk '{ if (NR == 42) print "PLATFORM=linux-64"; else print $0}' /content/cwb-3.4.22/config.mk > /content/cwb-3.4.22/config.mk.TMP
!awk '{ if (NR == 63) print "SITE=standard"; else print $0}' /content/cwb-3.4.22/config.mk.TMP > /content/cwb-3.4.22/config.mk

### Changing into installation directory and running installation scripts

In [ ]:
%cd /content/cwb-3.4.22/

In [ ]:
!pwd

(this will be the default register directory for the 'standard' CWB installation):

In [ ]:
!mkdir -p /usr/local/share/cwb/registry/

In [ ]:
!sudo ./install-scripts/config-basic
!sudo ./install-scripts/install-linux

In [ ]:
%cd /content/

/content

### Downloading and relocating the register of a sample corpus
The register is placed into the standard cwb location

In [ ]:
!wget https://heibox.uni-heidelberg.de/f/dd3538603aa84dd09a76/?dl=1
!mv index.html?dl=1 Dickens-1.0.tar.gz
!tar xvzf Dickens-1.0.tar.gz

In [ ]:
!cp /content/Dickens-1.0/registry/dickens /content/Dickens-1.0/registry/dickens.old.01
!awk '{ if (NR == 10) print "HOME /content/Dickens-1.0/data"; else print $0}' /content/Dickens-1.0/registry/dickens > /content/Dickens-1.0/registry/dickens.TMP
!awk '{ if (NR == 12) print "INFO /content/Dickens-1.0/data/.info"; else print $0}' /content/Dickens-1.0/registry/dickens.TMP > /content/Dickens-1.0/registry/dickens

In [ ]:
!mv /content/Dickens-1.0/registry/dickens /usr/local/share/cwb/registry

### Updating path (only needed if installing into a non-standard location

In [ ]:
# !echo $PATH

In [ ]:
# %env PATH=/usr/local/cwb-3.4.22/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/opt/bin

In [ ]:
# !echo $PATH

In [ ]:
# %env PATH=/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/opt/bin

In [ ]:
!pwd

/content

### Testing interactive Corpus Query Processor (CQP)

In [ ]:
# try these commands in the interactive prompt (just copy and paste them):
# DICKENS;
# "question";
# q
# exit;
!cqp -e

In [ ]:
!cwb-describe-corpus -h

In [ ]:
!cwb-describe-corpus -s dickens

In [ ]:
# !cwb-describe-corpus -s -r registry dickens

In [ ]:
%cd /content/

/content

## Installing python interface to CWB 
cwb-ccc

In [ ]:
# !python -m pip install cwb-ccc
!python -m pip install cwb-ccc

## pandas versions are incompatible
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.

google-colab 1.0.0 requires pandas~=1.1.0; python_version >= "3.0", but you have pandas 1.3.5 which is incompatible.

Successfully installed association-measures-0.2.0 cwb-ccc-0.10.1 pandas-1.3.5 pyyaml-6.0 unidecode-1.3.2

- we go for a compromise, which works for both so far...

In [ ]:
!pip show pandas

In [ ]:
!pip install pandas==1.1.5
# click [restart runtime] button!

Collecting pandas==1.1.5
  Downloading pandas-1.1.5-cp37-cp37m-manylinux1_x86_64.whl (9.5 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9.5 MB 6.4 MB/s
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas==1.1.5) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.1.5) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas==1.1.5) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas==1.1.5) (1.15.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.3.5
    Uninstalling pandas-1.3.5:
      Successfully uninstalled pandas-1.3.5
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
cwb-ccc 0.10.1 requires pandas>=1.2.0, but you have pandas 1.1.5 which is incompatible.
Successfully installed pandas-1.1.5

### Experiments with cwb-ccc 
From the webpage

In [ ]:
from ccc import Corpora
corpora = Corpora(registry_path="/usr/local/share/cwb/registry/")
# corpora = Corpora("/content/Dickens-1.0/registry")
print(corpora)
corpora.show()  # returns a DataFrame

In [ ]:
corpus = corpora.activate(corpus_name="DICKENS")

In [ ]:
from ccc import Corpus
corpus = Corpus(
  corpus_name="DICKENS",
  registry_path="/usr/local/share/cwb/registry/"
)

In [ ]:
query = r'[word="[A-Z0-9][A-Z0-9][A-Z0-9]+"]'
dump = corpus.query(query)

In [ ]:
dump.df

In [ ]:
corpus.attributes_available

In [ ]:
query = r'"question"'
dump = corpus.query(query)

In [ ]:
dump.df

In [ ]:
dump = corpus.query(
  cqp_query=query,
  context=20,
  context_break='s'
)

In [ ]:
dump.df

In [ ]:
dump.set_context(
    context_left=5,
    context_right=10,
    context_break='s'
)

In [ ]:
dump.df

In [ ]:
dump.breakdown()

In [ ]:
dump.concordance()

In [ ]:
dump.concordance(p_show=["word", "lemma"], s_show=["text_id"])

In [ ]:
dump.concordance(form="kwic")

In [ ]:
lines = dump.concordance(
    p_show=['word', 'pos', 'lemma'],
    form='dataframe'
)

In [ ]:
lines.iloc[0]['dataframe']

In [ ]:
type(lines.iloc[2]['dataframe'])

In [ ]:
lines = dump.concordance(
    p_show=['word', 'pos', 'lemma'],
    form='dict'
)

In [ ]:
lines.iloc[0]['dict']

In [ ]:
lines = dump.concordance(
    p_show=['word', 'pos', 'lemma'],
    form='slots'
)

In [ ]:
lines.iloc[0]

word                     Scrooge asked the question , because he did n'...
pos                             NN VBD DT NN , IN PP VBD RB VB IN DT NN RB
lemma                    Scrooge ask the question , because he do not k...
match..matchend_word                                              question
match..matchend_pos                                                     NN
match..matchend_lemma                                             question
Name: (5614, 5614), dtype: object

In [ ]:
lines.iloc[0]['lemma']

'Scrooge ask the question , because he do not know whether a ghost so'

In [ ]:
dump = corpus.query(
  cqp_query=r'@1[pos="D.*"] @2[pos="NN"] @3[word="question"]',
  context=None, 
  context_break='s', 
  match_strategy='longest'
)
lines = dump.concordance(form='dataframe')

In [ ]:
lines.iloc[1]['dataframe']

In [ ]:
lines = dump.concordance(form='dict')

In [ ]:
lines.iloc[1]['dict']

In [ ]:
lines = dump.concordance(
  form='slots', 
  p_show=['word', 'lemma'],
  slots={"article": [1], "np": [2, 3]}
)

In [ ]:
lines

In [ ]:
dump.correct_anchors({2: -2, 3: +1})
lines = dump.concordance(
  form='slots',
  slots={"art": [1],
  "np": [2, 3]}
)

In [ ]:
lines

In [ ]:
dump = corpus.query(
    '[lemma="question"]', 
    context=10, 
    context_break='s'
)

In [ ]:
dump.collocates(order='log_likelihood')

In [ ]:
dump = corpus.query(
    '[lemma="answer"]', 
    context=10, 
    context_break='s'
)

In [ ]:
dump.collocates(p_query=['lemma'], order='conservative_log_ratio')
# ['lemma', 'pos']

In [ ]:
corpus.query('[lemma="question" & pos="N.*"]').breakdown()

In [ ]:
# https://pypi.org/project/cwb-ccc/#anchored-queries

In [ ]:
%tb

No traceback available to show.

In [ ]:
# !export CWB_DIR=/usr/local/cwb-3.4.10
# /usr/local/cwb-3.4.22/bin

In [ ]:
# !python --version

### todo:
1. to add corpus lemmatization & encoding parts
2. to add generation of interesting collocations, exporting them as lists
3. to add parallel corpus functionality

## Building own corpus
Europarl 8M EN (DE):
https://heibox.uni-heidelberg.de/f/0e1fcda2b7bc494d83b8/?dl=1
ep_en_de.txt

- Create a data directory where files in the binary CWB format will be stored. Here, we assume that this directory is called /corpora/data/example. If this directory already exists and contains corpus data (from a previous version), you should delete all files in the directory. NB: You need a separate data directory for each corpus you want to encode.
- Choose a registry directory, where all encoded corpora have to be registered to make them accessible to the CWB tools. It is recommended that you use the default registry directory /usr/local/share/cwb/registry. Otherwise,youwillhavetospecifythepathtoyourregistry directory with a -r flag whenever you invoke one of the CWB tools (or set an appropriate environment variable, see below). In the example commands in this manual, we assume that you use the standard registry directory.
- The next step is to encode the corpus, i.e. convert the verticalized text to CWB binary format with the cwb-encode tool. Note that the command below has to be entered on a single line.


```
$ cwb-encode -d /corpora/data/example
                      -xsBC9 -c ascii -f example.vrt
                      -R /usr/local/share/cwb/registry/example
                      -P pos -P lemma -S s
```
from: https://cwb.sourceforge.io/files/CWB_Encoding_Tutorial.pdf

Cleanup ... (if needed to reinstall)

In [ ]:
rm -r EP

In [ ]:
rm -r corpepen/

In [ ]:
rm /usr/local/share/cwb/registry/corpepen

downloading EP data

In [ ]:
# !wget https://heibox.uni-heidelberg.de/f/0e1fcda2b7bc494d83b8/?dl=1
!wget https://heibox.uni-heidelberg.de/f/0e1fcda2b7bc494d83b8/?dl=1

In [ ]:
!mkdir EP

In [ ]:
!mv index.html?dl=1 EP/ep_en_de1.txt

In [ ]:
FIn = open('EP/ep_en_de1.txt', 'r')
FOut = open('EP/ep_en_de.txt', 'w')
for SLine in FIn:
    SLine = SLine.strip()
    SLine = SLine.lower()
    FOut.write(SLine + '\n')

FOut.flush()

In [ ]:
!head --lines=100 EP/ep_en_de.txt >ep_en_de_100.txt

In [ ]:
!mkdir corpepen

encoding corpus

In [ ]:
!cwb-encode -d /content/corpepen -xsBC9 -c utf8 -f /content/EP/ep_en_de.txt -R /usr/local/share/cwb/registry/corpepen 2>&1

In [ ]:
!cwb-makeall --help

In [ ]:
!cwb-makeall -V CORPEPEN

In [ ]:
%tb

No traceback available to show.

In [ ]:
!cwb-describe-corpus corpepen

In [ ]:
# try these commands in the interactive prompt (just copy and paste them):
# CORPEPEN;
# "question";
# "of";
# q
# exit;
!cqp -e

[no corpus]> CORPEPEN;
CORPEPEN> "question";
      122: oncern inadmissibility my <question> relate to something that
      513: ing on this matter on the <question> of the strategic plan of
     4825: st the european union the <question> be who prosecute that be
     5003: e at the moment the whole <question> as to whether we have th
     5046: ission should tackle this <question> we be aware that it be a
     7039: say in her remark but the <question> be how long will it take
    10935: ue relate to and surround <question> of liability despite my
    11144: behrendt have ask me this <question> before and i say i think
    11184:  next time you ask me the <question> i will be in a position
    11717: mr florenz also raise the <question> of anonymity i be happy
    11899:  tooth i suspect that the <question> be focus on the issue of
    12266:  address over time be the <question> of the speed of response
    12351:  in relation to mrs lynne <question> on interim payment that
    12748:  be cut back the time for <question> time it be one of the fe
    13461: hank you mr bowe for your <question> the european commission
    13934: hank you mr bowe for that <question> we have to state again t
    14325: he area i can answer that <question> when it come to medical
    15352:  the ombudsman there be a <question> about the legislative ba
    15388: urable member who ask the <question> who take a particular in
    15480: ound the only substantial <question> that have arise be the l
    15548: n about these development <question> will know how important
    19942: tion to that there be the <question> of duty free that be a s
    24561: oncession on the security <question> then the prospect of a s
>CORPEPEN>
CORPEPEN> exit;

Done. Share and enjoy!

In [ ]:
from ccc import Corpora
corpora = Corpora(registry_path="/usr/local/share/cwb/registry/")
# corpora = Corpora("/content/Dickens-1.0/registry")
print(corpora)
corpora.show()  # returns a DataFrame

registry path: "/usr/local/share/cwb/registry/"
cqp binary   : "cqp"
found 1 corpora:
             size
corpus
CORPEPEN  7281561

             size
corpus
CORPEPEN  7281561

In [ ]:
corpus = corpora.activate(corpus_name="CORPEPEN")

In [ ]:
from ccc import Corpus
corpus = Corpus(
  corpus_name="CORPEPEN",
  registry_path="/usr/local/share/cwb/registry/"
)

In [ ]:
query = r'"value"'

In [ ]:
query = '[word="the"]'

In [ ]:
dump = corpus.query(query)

In [ ]:
dump = corpus.query(
    '[word="quest.*"]', 
    context=10
)

In [ ]:
lines = dump.concordance(
    form='dict'
)

In [ ]:
lines

                 context  ...                                               dict
match  matchend           ...
2819   2819         2799  ...  {'cpos': [2799, 2800, 2801, 2802, 2803, 2804, ...
4589   4589         4569  ...  {'cpos': [4569, 4570, 4571, 4572, 4573, 4574, ...
15705  15705       15685  ...  {'cpos': [15685, 15686, 15687, 15688, 15689, 1...
22098  22098       22078  ...  {'cpos': [22078, 22079, 22080, 22081, 22082, 2...
23642  23642       23622  ...  {'cpos': [23622, 23623, 23624, 23625, 23626, 2...
...                  ...  ...                                                ...
372781 372781     372761  ...  {'cpos': [372761, 372762, 372763, 372764, 3727...
385062 385062     385042  ...  {'cpos': [385042, 385043, 385044, 385045, 3850...
386601 386601     386581  ...  {'cpos': [386581, 386582, 386583, 386584, 3865...
386658 386658     386638  ...  {'cpos': [386638, 386639, 386640, 386641, 3866...
391180 391180     391160  ...  {'cpos': [391160, 391161, 391162, 391163, 3911...

[100 rows x 3 columns]

In [ ]:
dump = corpus.query(
  cqp_query=query,
  context=5
)

In [ ]:
dump.df

                  context  contextend
match   matchend
2819    2819         2809        2829
4589    4589         4579        4599
15705   15705       15695       15715
22098   22098       22088       22108
23642   23642       23632       23652
...                   ...         ...
7932213 7932213   7932203     7932223
7932223 7932223   7932213     7932233
7949447 7949447   7949437     7949457
7951869 7951869   7951859     7951879
7953543 7953543   7953533     7953553

[2140 rows x 2 columns]

In [ ]:
dump.concordance(form="kwic", cut_off=None)

                                                          left_word  ...                                         right_word
match   matchend                                                     ...
2819    2819       and addition relate to achieve what be know as "  ...  for money " indicator in the grant-giving proc...
4589    4589       the figure for last year now show that the total  ...  of merger in the European area be EUR @card@ t...
15705   15705        I be not sure that it would add much practical  ...       to our effort . it would be unlikely to have
22098   22098           as a former official - and I think that the  ...       of that be show by his ability to tackle the
23642   23642              we be at one in the belief that there be  ...  in define the well possible mechanism for this...
...                                                             ...  ...                                                ...
7932213 7932213              Kong , we would not be true to our own  ...          , if we do not speak out when those value
7932223 7932223           value , if we do not speak out when those  ...    appear to us to be under threat . What sensible
7949447 7949447         to sell that beef into our market , at good  ...              to our consumer , and if we be to put
7951869 7951869   Kingdom , we have a long political debate over...  ...  of resale price maintenance apply to book . th...
7953543 7953543   money . but the poor respect both education an...  ...  and they respect democracy . soon there will b...

[2140 rows x 3 columns]

In [ ]:
# dump.collocates
# dump.collocates(order='log_likelihood', cut_off=None)
# 
dfColl = dump.collocates(order='mutual_information', cut_off=None)
dump.collocates(order='mutual_information', cut_off=None)

specfied p-attribute(s) ("lemma") not available
falling back to primary layer
specfied p-attribute(s) ("lemma") not available
falling back to primary layer

            O11    O12     O21  ...  ipm_reference_expected  in_nodes  marginal
item                            ...
parametric    2  21110       0  ...                0.251404         0         2
mg/litre      2  21110       0  ...                0.251404         0         2
calorific     2  21110       0  ...                0.251404         0         2
added       202  20910      52  ...               31.928251         0       254
tax-based     2  21110       1  ...                0.377105         0         3
...         ...    ...     ...  ...                     ...       ...       ...
purpose       3  21109    1121  ...              141.288798         0      1124
among         3  21109    1121  ...              141.288798         0      1124
that        374  20738  139828  ...            17623.640582         0    140202
yes           2  21110     749  ...               94.402035         0       751
examine       2  21110     750  ...               94.527737         0       752

[710 rows x 23 columns]

In [ ]:
dfColl.to_excel(r'value_collstat.xlsx', index = True)

In [ ]:
def query2colist(qry, ord='mutual_information', cut=100, minFrq = 5, file=None, values = None):
    query=None
    dump = None
    dfColl = None
    LAll = None
    retList = []

    query = r'{}'.format(qry)
    print(query)
    dump = corpus.query(cqp_query=query, context=5)
    dfColl = dump.collocates(order=ord, cut_off=None)
    LIndex = dfColl.index.to_numpy().tolist()
    LValues = dfColl[['O11','O21','mutual_information']].to_numpy().tolist()
    LAll = list(zip(LIndex, LValues))
    
    i=0
    for word, (o11, o21, mutual_information) in LAll:
        oAll = o11+o21
        if oAll >= minFrq:
            i+=1
            if values:
                retList.append((word, int(o11), int(o21), int(oAll), mutual_information))
            else:
                retList.append(word)
            if i>= cut:
                break
    if file:
        FOut = open(file, 'w')
        for el in retList:
            FOut.write(str(el) + '\n')
        FOut.flush()
    return retList

In [ ]:
rList = query2colist("'however'", file='however_mi100_minFrq5.txt', values=True)

specfied p-attribute(s) ("lemma") not available
falling back to primary layer

'however'

In [ ]:
rList

In [ ]:
query = r'"value"'
dump = corpus.query(
  cqp_query=query,
  context=5
)
dfColl = dump.collocates(order='mutual_information', cut_off=100)
LIndex = dfColl.index.to_numpy().tolist()
FOut = open('value_mi100_collstat.txt', 'w')
for el in LIndex:
    FOut.write(el + '\n')
FOut.flush()
# dfColl.to_excel(r'value_collstat.xlsx', index = True)

specfied p-attribute(s) ("lemma") not available
falling back to primary layer

In [ ]:
query = r'"however"'
dump = corpus.query(
  cqp_query=query,
  context=5
)
dfColl = dump.collocates(order='mutual_information', cut_off=None)
dfColl.to_excel(r'however_collstat.xlsx', index = True)

specfied p-attribute(s) ("lemma") not available
falling back to primary layer

In [ ]:
query = r'"commission"'
dump = corpus.query(
  cqp_query=query,
  context=5
)
dfColl = dump.collocates(order='mutual_information', cut_off=None)
dfColl.to_excel(r'commission_collstat.xlsx', index = True)

specfied p-attribute(s) ("lemma") not available
falling back to primary layer

In [ ]:
query = r'"conclusion"'
dump = corpus.query(
  cqp_query=query,
  context=5
)
dfColl = dump.collocates(order='mutual_information', cut_off=None)
dfColl.to_excel(r'conclusion_collstat.xlsx', index = True)

specfied p-attribute(s) ("lemma") not available
falling back to primary layer

In [ ]:
# lst = dfColl[['mutual_information', 'log_likelihood']].items()
LIndex = dfColl.index.to_numpy().tolist()

In [ ]:
# z_score	t_score	log_likelihood	simple_ll	dice	log_ratio	mutual_information	local_mutual_information	conservative_log_ratio
# z_score, t_score, log_likelihood, simple_ll, dice, log_ratio, mutual_information, local_mutual_information, conservative_log_ratio
# 'z_score', 't_score', 'log_likelihood', 'simple_ll', 'dice', 'log_ratio', 'mutual_information', 'local_mutual_information', 'conservative_log_ratio'
# O11	O12	O21	O22	E11	E12	E21	E22
# 'O11', 'O12', 'O21', 'O22', 'E11', 'E12', 'E21', 'E22'
LValues = dfColl[['O11', 'O12', 'O21', 'O22', 'E11', 'E12', 'E21', 'E22', 'z_score', 't_score', 'log_likelihood', 'simple_ll', 'dice', 'log_ratio', 'mutual_information', 'local_mutual_information', 'conservative_log_ratio']].to_numpy().tolist()

In [ ]:
print(len(LIndex), len(LValues))

710 710

In [ ]:
LAll = list(zip(LIndex, LValues))

In [ ]:
LAll

In [ ]:
lex = 'value'

In [ ]:
FOut = open(lex + '_collstat.txt', 'w')
FOut.write("'Collocation','O11','O12','O21','O22','E11','E12','E21','E22','z_score','t_score','log_likelihood','simple_ll','dice','log_ratio','mutual_information','local_mutual_information','conservative_log_ratio'\n")
for Word, LVals in LAll:
    FOut.write("'" + Word + "'" + ',')
    LSVal = [str(IVal) for IVal in LVals]
    SVal = ','.join(LSVal)
    FOut.write(SVal + '\n')

In [ ]:
for key, value in lst:
  print(key, value)

mutual_information item
parametric    2.576129
mg/litre      2.576129
calorific     2.576129
added         2.476647
tax-based     2.400038
                ...
purpose       0.002484
among         0.002484
that          0.002247
yes           0.001519
examine       0.000941
Name: mutual_information, Length: 710, dtype: float64
log_likelihood item
parametric      23.727216
mg/litre        23.727216
calorific       23.727216
added         2141.140925
tax-based       19.913445
                 ...
purpose          0.000098
among            0.000098
that             0.010198
yes              0.000025
examine          0.000009
Name: log_likelihood, Length: 710, dtype: float64