In [2]:
from ccc import Corpora
# corpora = Corpora(registry_path="/usr/local/share/cwb/registry/")
corpora = Corpora(registry_path="/srv/scratch/registry/")
# corpora = Corpora("/content/Dickens-1.0/registry")
print(corpora)
corpora.show()  # returns a DataFrame

registry path: "/srv/scratch/registry/"
cqp binary   : "cqp"
found 5 corpora:
               size
corpus
TED-EN        38734
TED-EN-ALL  2828622
TED-EN1K      10916
TED-EN2K       8788
TEST            114

               size
corpus
TED-EN        38734
TED-EN-ALL  2828622
TED-EN1K      10916
TED-EN2K       8788
TEST            114

In [3]:
corpus = corpora.activate(corpus_name="TED-EN-ALL")

In [4]:
from ccc import Corpus
corpus = Corpus(
  corpus_name="TED-EN-ALL",
  registry_path="/srv/scratch/registry/"
)

In [5]:
query = r'[word="[A-Z0-9][A-Z0-9][A-Z0-9]+"]'
dump = corpus.query(query)

In [6]:
dump.df

                  context  contextend
match   matchend
281     281           261         301
977     977           957         997
1078    1078         1058        1098
1102    1102         1082        1122
1331    1331         1311        1351
...                   ...         ...
2825108 2825108   2825088     2825128
2825948 2825948   2825928     2825968
2825970 2825970   2825950     2825990
2826197 2826197   2826177     2826217
2828131 2828131   2828111     2828151

[8459 rows x 2 columns]

In [7]:
corpus.attributes_available

    type attribute  annotation  active
0  p-Att      word       False    True
1  p-Att       pos       False   False
2  p-Att     lemma       False   False
3  s-Att         s       False   False

In [8]:
query = r'"question"'
dump = corpus.query(query)

/opt/tljh/user/lib/python3.9/site-packages/ccc/cwb.py:527: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  crpssbcrps = df["corpus:subcorpus"].str.split(":", 1).str
/opt/tljh/user/lib/python3.9/site-packages/ccc/cwb.py:527: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  crpssbcrps = df["corpus:subcorpus"].str.split(":", 1).str

In [9]:
dump.df

                  context  contextend
match   matchend
2252    2252         2232        2272
2260    2260         2240        2280
7651    7651         7631        7671
8368    8368         8348        8388
19753   19753       19733       19773
...                   ...         ...
2813956 2813956   2813936     2813976
2817027 2817027   2817007     2817047
2821484 2821484   2821464     2821504
2821511 2821511   2821491     2821531
2822908 2822908   2822888     2822928

[1125 rows x 2 columns]

In [10]:
dump = corpus.query(
  cqp_query=query,
  context=20,
  context_break='s'
)

/opt/tljh/user/lib/python3.9/site-packages/ccc/cwb.py:527: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  crpssbcrps = df["corpus:subcorpus"].str.split(":", 1).str
/opt/tljh/user/lib/python3.9/site-packages/ccc/cwb.py:527: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  crpssbcrps = df["corpus:subcorpus"].str.split(":", 1).str

In [11]:
dump.df

                  s_cwbid   s_span  s_spanend  contextid  context  contextend
match   matchend
2252    2252          114     2247       2270        114     2247        2270
2260    2260          114     2247       2270        114     2247        2270
7651    7651          404     7584       7690        404     7631        7671
8368    8368          432     8367       8377        432     8367        8377
19753   19753        1019    19735      19754       1019    19735       19754
...                   ...      ...        ...        ...      ...         ...
2813956 2813956    156576  2813951    2813981     156576  2813951     2813976
2817027 2817027    156754  2817026    2817029     156754  2817026     2817029
2821484 2821484    156974  2821470    2821488     156974  2821470     2821488
2821511 2821511    156977  2821503    2821548     156977  2821503     2821531
2822908 2822908    157060  2822890    2822912     157060  2822890     2822912

[1125 rows x 6 columns]

In [12]:
dump.set_context(
    context_left=5,
    context_right=10,
    context_break='s'
)

a ccc.Dump with 1125 matches
- corpus "TED-EN-ALL" (2828622 tokens in whole corpus)
- name in cqp: "Last"
- columns: ['contextid', 'context', 'contextend', 's_cwbid', 's_span', 's_spanend']

In [13]:
dump.df

                  s_cwbid   s_span  s_spanend  contextid  context  contextend
match   matchend
2252    2252          114     2247       2270        114     2247        2270
2260    2260          114     2247       2270        114     2247        2270
7651    7651          404     7584       7690        404     7631        7671
8368    8368          432     8367       8377        432     8367        8377
19753   19753        1019    19735      19754       1019    19735       19754
...                   ...      ...        ...        ...      ...         ...
2813956 2813956    156576  2813951    2813981     156576  2813951     2813976
2817027 2817027    156754  2817026    2817029     156754  2817026     2817029
2821484 2821484    156974  2821470    2821488     156974  2821470     2821488
2821511 2821511    156977  2821503    2821548     156977  2821503     2821531
2822908 2822908    157060  2822890    2822912     157060  2822890     2822912

[1125 rows x 6 columns]

In [14]:
dump.breakdown()

/opt/tljh/user/lib/python3.9/site-packages/ccc/utils.py:352: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = grouped.aggregate(np.sum)

          freq
item
question  1125

In [15]:
dump.concordance()

                                                              word
match  matchend
2252   2252      It 's not just a question of cleanliness ; it ...
2260   2260      It 's not just a question of cleanliness ; it ...
7651   7651      there were 21 gifts of 100 million dollars or ...
8368   8368      The question is , is there a positive social s...
19753  19753     And as I took on my career as a designer , I b...
...                                                            ...
318075 318075    rather profound ways , as I 'll show you in my...
322317 322317    So what they did was they asked us an importan...
324713 324713    That raised a question : warps and curves in w...
325068 325068    Now , the first question was answered in 1926 ...
325571 325571    But what about the second question that I aske...

[100 rows x 1 columns]

In [17]:
dump.concordance(p_show=["word", "lemma"], s_show=["s"])

,,word,lemma,s
match,matchend,,,
2252,2252,It 's not just a question of cleanliness ; it ...,it be not just a question of cleanliness ; it ...,114
2260,2260,It 's not just a question of cleanliness ; it ...,it be not just a question of cleanliness ; it ...,114
7651,7651,there were 21 gifts of 100 million dollars or ...,there be 21 gift of 100 million dollar or more...,404
8368,8368,"The question is , is there a positive social s...","the question be , be there a positive social s...",432
19753,19753,"And as I took on my career as a designer , I b...","and as I take on my career as a designer , I b...",1019
...,...,...,...,...
318075,318075,"rather profound ways , as I 'll show you in my...","rather profound way , as I will show you in my...",17799
322317,322317,So what they did was they asked us an importan...,so what they do be they ask we a important que...,18018
324713,324713,That raised a question : warps and curves in w...,that raise a question : warp and curve in what ?,18187
325068,325068,"Now , the first question was answered in 1926 ...","now , the first question be answer in 1926 by ...",18204
325571,325571,But what about the second question that I aske...,but what about the second question that I ask ...,18222

In [18]:
dump.concordance(form="kwic")

,,left_word,node_word,right_word
match,matchend,,,
2252,2252,It 's not just a,question,of cleanliness ; it 's also a question of how ...
2260,2260,It 's not just a question of cleanliness ; it ...,question,of how those organisms then turn into human di...
7651,7651,there were 21 gifts of 100 million dollars or ...,question,-- but only puts it up if it 's matched by mil...
8368,8368,The,question,"is , is there a positive social singularity ?"
19753,19753,"And as I took on my career as a designer , I b...",question,:
...,...,...,...,...
318075,318075,"rather profound ways , as I 'll show you in my...",question,.
322317,322317,So what they did was they asked us an important,question,.
324713,324713,That raised a,question,: warps and curves in what ?
325068,325068,"Now , the first",question,was answered in 1926 by a fellow named Oskar K...
325571,325571,But what about the second,question,that I asked : does the theory actually work w...

In [19]:
lines = dump.concordance(
    p_show=['word', 'pos', 'lemma'],
    form='dataframe'
)

In [20]:
lines.iloc[0]['dataframe']

      offset         word    pos        lemma
cpos
2247      -5           It   PRON           it
2248      -4           's    AUX           be
2249      -3          not   PART          not
2250      -2         just    ADV         just
2251      -1            a    DET            a
2252       0     question   NOUN     question
2253       1           of    ADP           of
2254       2  cleanliness   NOUN  cleanliness
2255       3            ;  PUNCT            ;
2256       4           it   PRON           it
2257       5           's    AUX           be
2258       6         also    ADV         also
2259       7            a    DET            a
2260       8     question   NOUN     question
2261       9           of  SCONJ           of
2262      10          how  SCONJ          how
2263      11        those    DET         that
2264      12    organisms   NOUN     organism
2265      13         then    ADV         then
2266      14         turn   VERB         turn
2267      15         into    ADP         into
2268      16        human    ADJ        human
2269      17      disease   NOUN      disease
2270      18            .  PUNCT            .

In [21]:
type(lines.iloc[2]['dataframe'])

pandas.core.frame.DataFrame

In [22]:
lines = dump.concordance(
    p_show=['word', 'pos', 'lemma'],
    form='dict'
)

In [23]:
lines.iloc[0]['dict']

{'cpos': [2247,
  2248,
  2249,
  2250,
  2251,
  2252,
  2253,
  2254,
  2255,
  2256,
  2257,
  2258,
  2259,
  2260,
  2261,
  2262,
  2263,
  2264,
  2265,
  2266,
  2267,
  2268,
  2269,
  2270],
 'offset': [-5,
  -4,
  -3,
  -2,
  -1,
  0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18],
 'word': ['It',
  "'s",
  'not',
  'just',
  'a',
  'question',
  'of',
  'cleanliness',
  ';',
  'it',
  "'s",
  'also',
  'a',
  'question',
  'of',
  'how',
  'those',
  'organisms',
  'then',
  'turn',
  'into',
  'human',
  'disease',
  '.'],
 'pos': ['PRON',
  'AUX',
  'PART',
  'ADV',
  'DET',
  'NOUN',
  'ADP',
  'NOUN',
  'PUNCT',
  'PRON',
  'AUX',
  'ADV',
  'DET',
  'NOUN',
  'SCONJ',
  'SCONJ',
  'DET',
  'NOUN',
  'ADV',
  'VERB',
  'ADP',
  'ADJ',
  'NOUN',
  'PUNCT'],
 'lemma': ['it',
  'be',
  'not',
  'just',
  'a',
  'question',
  'of',
  'cleanliness',
  ';',
  'it',
  'be',
  'also',
  'a',
  'question',
  'of',
  'how',
  'that',
  'organism',
  'then',
  'turn',
  'into',
  'human',
  'disease',
  '.'],
 'match': 2252,
 'anchors': {}}

In [24]:
lines = dump.concordance(
    p_show=['word', 'pos', 'lemma'],
    form='slots'
)

In [25]:
lines.iloc[0]

word                     It 's not just a question of cleanliness ; it ...
pos                      PRON AUX PART ADV DET NOUN ADP NOUN PUNCT PRON...
lemma                    it be not just a question of cleanliness ; it ...
match..matchend_word                                              question
match..matchend_pos                                                   NOUN
match..matchend_lemma                                             question
Name: (2252, 2252), dtype: object

In [26]:
lines.iloc[0]['lemma']

'it be not just a question of cleanliness ; it be also a question of how that organism then turn into human disease .'

In [28]:
dump = corpus.query(
  cqp_query=r'@1[pos="D.*"] @2[pos="ADJ"] @3[word="question"]',
  context=None, 
  context_break='s', 
  match_strategy='longest'
)
lines = dump.concordance(form='dataframe')

/opt/tljh/user/lib/python3.9/site-packages/ccc/cwb.py:527: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  crpssbcrps = df["corpus:subcorpus"].str.split(":", 1).str
/opt/tljh/user/lib/python3.9/site-packages/ccc/cwb.py:527: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  crpssbcrps = df["corpus:subcorpus"].str.split(":", 1).str

In [29]:
lines.iloc[1]['dataframe']

       offset       word      1      2      3
cpos
56274      -9         It  False  False  False
56275      -8         's  False  False  False
56276      -7          a  False  False  False
56277      -6       fast  False  False  False
56278      -5          ,  False  False  False
56279      -4      cheap  False  False  False
56280      -3     device  False  False  False
56281      -2       that  False  False  False
56282      -1    answers  False  False  False
56283       0         an   True  False  False
56284       0  important  False   True  False
56285       0   question  False  False   True
56286       1          :  False  False  False

In [30]:
lines = dump.concordance(form='dict')

In [31]:
lines.iloc[1]['dict']

{'cpos': [56274,
  56275,
  56276,
  56277,
  56278,
  56279,
  56280,
  56281,
  56282,
  56283,
  56284,
  56285,
  56286],
 'offset': [-9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 0, 0, 1],
 'word': ['It',
  "'s",
  'a',
  'fast',
  ',',
  'cheap',
  'device',
  'that',
  'answers',
  'an',
  'important',
  'question',
  ':'],
 'match': 56283,
 'anchors': {1: 56283, 2: 56284, 3: 56285}}

In [32]:
lines = dump.concordance(
  form='slots', 
  p_show=['word', 'lemma'],
  slots={"article": [1], "np": [2, 3]}
)

In [33]:
lines

,,word,lemma,article_word,article_lemma,np_word,np_lemma
match,matchend,,,,,,
19751,19753,"And as I took on my career as a designer , I b...","and as I take on my career as a designer , I b...",the,the,simple question,simple question
56283,56285,"It 's a fast , cheap device that answers an im...","it be a fast , cheap device that answer a impo...",an,a,important question,important question
72055,72057,The leftmost question is the first question th...,the leftmost question be the first question th...,The,the,leftmost question,leftmost question
72059,72061,The leftmost question is the first question th...,the leftmost question be the first question th...,the,the,first question,first question
78341,78343,So that raised a social question that I believ...,so that raise a social question that I believe...,a,a,social question,social question
...,...,...,...,...,...,...,...
977438,977440,This is a big question now to help us understa...,this be a big question now to help we understa...,a,a,big question,big question
1002128,1002130,This is no hypothetical question .,this be no hypothetical question .,no,no,hypothetical question,hypothetical question
1030849,1030851,""" And I 've come to the conclusion -- because ...",""" and I have come to the conclusion -- because...",this,this,other question,other question
1184704,1184706,"And that is , that when they analyzed the Diet...","and that be , that when they analyze the diet ...",the,the,wrong question,wrong question
1221689,1221691,They toured the facility and were asked if the...,they tour the facility and be ask if there be ...,the,the,same question,same question

In [34]:
dump.correct_anchors({2: -2, 3: +1})
lines = dump.concordance(
  form='slots',
  slots={"art": [1],
  "np": [2, 3]}
)

In [35]:
lines

,,word,art_word,np_word
match,matchend,,,
19751,19753,"And as I took on my career as a designer , I b...",the,myself the simple question :
56283,56285,"It 's a fast , cheap device that answers an im...",an,answers an important question :
72055,72057,The leftmost question is the first question th...,The,The leftmost question is
72059,72061,The leftmost question is the first question th...,the,is the first question that
78341,78343,So that raised a social question that I believ...,a,raised a social question that
...,...,...,...,...
977438,977440,This is a big question now to help us understa...,a,is a big question now
1002128,1002130,This is no hypothetical question .,no,is no hypothetical question .
1030849,1030851,""" And I 've come to the conclusion -- because ...",this,"asked this other question ,"
1184704,1184706,"And that is , that when they analyzed the Diet...",the,asking the wrong question .
1221689,1221691,They toured the facility and were asked if the...,the,inevitably the same question arose

In [36]:
dump = corpus.query(
    '[lemma="question"]', 
    context=10, 
    context_break='s'
)

/opt/tljh/user/lib/python3.9/site-packages/ccc/cwb.py:527: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  crpssbcrps = df["corpus:subcorpus"].str.split(":", 1).str
/opt/tljh/user/lib/python3.9/site-packages/ccc/cwb.py:527: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  crpssbcrps = df["corpus:subcorpus"].str.split(":", 1).str

In [37]:
dump.collocates(order='log_likelihood')

,O11,O12,O21,O22,R1,R2,C1,C2,N,E11,...,log_ratio,binomial_likelihood,conservative_log_ratio,mutual_information,local_mutual_information,ipm,ipm_reference,ipm_expected,in_nodes,marginal
item,,,,,,,,,,,,,,,,,,,,,
ask,368,12488,1407,2812749,12856,2814156,1775,2825237,2827012,8.071915,...,5.839272,NaN,5,1.658871,610.464620,28624.766646,499.972283,627.871406,0,1775
answer,181,12675,630,2813526,12856,2814156,811,2826201,2827012,3.688069,...,5.974755,NaN,5,1.690880,306.049191,14079.029247,223.868186,286.875330,0,811
:,221,12635,7892,2806264,12856,2814156,8113,2818899,2827012,36.894335,...,2.615844,NaN,2,0.777433,171.812601,17190.416926,2804.393218,2869.814490,0,8113
the,831,12025,113707,2700449,12856,2814156,114538,2712474,2827012,520.868156,...,0.677860,NaN,0,0.202873,168.587643,64639.079029,40405.364877,40515.569088,0,114538
how,117,12739,6375,2807781,12856,2814156,6492,2820520,2827012,29.522744,...,2.006272,NaN,1,0.598029,69.969409,9100.808961,2265.332839,2296.417560,0,6492
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
stupid,3,12853,93,2814063,12856,2814156,96,2826916,2827012,0.436566,...,2.819920,0.000000,0,0.837072,2.511215,233.354076,33.047208,33.958115,0,96
correctly,2,12854,35,2814121,12856,2814156,37,2826975,2827012,0.168260,...,3.644834,0.000000,0,1.075050,2.150100,155.569384,12.437121,13.088024,0,37
thus,2,12854,36,2814120,12856,2814156,38,2826974,2827012,0.172807,...,3.604192,0.000000,0,1.063468,2.126936,155.569384,12.792468,13.441754,0,38
then,37,12819,5222,2808934,12856,2814156,5259,2821753,2827012,23.915606,...,0.633183,0.001805,0,0.189520,7.012253,2878.033603,1855.618523,1860.268014,0,5259
dangerous,4,12852,185,2813971,12856,2814156,189,2826823,2827012,0.859488,...,2.242735,0.000000,0,0.667820,2.671280,311.138768,65.739071,66.855040,0,189

In [38]:
dump = corpus.query(
    '[lemma="answer"]', 
    context=10, 
    context_break='s'
)

/opt/tljh/user/lib/python3.9/site-packages/ccc/cwb.py:527: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  crpssbcrps = df["corpus:subcorpus"].str.split(":", 1).str
/opt/tljh/user/lib/python3.9/site-packages/ccc/cwb.py:527: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  crpssbcrps = df["corpus:subcorpus"].str.split(":", 1).str

In [39]:
dump.collocates(p_query=['lemma'], order='conservative_log_ratio')
# ['lemma', 'pos']

,O11,O12,O21,O22,R1,R2,C1,C2,N,E11,...,log_ratio,binomial_likelihood,conservative_log_ratio,mutual_information,local_mutual_information,ipm,ipm_reference,ipm_expected,in_nodes,marginal
item,,,,,,,,,,,,,,,,,,,,,
question,180,6275,1430,2819926,6455,2821356,1610,2826201,2827811,3.675122,...,5.781810,NaN,5,1.690001,304.200137,27885.360186,506.848480,569.344981,0,1610
plea,5,6450,10,2821346,6455,2821356,15,2827796,2827811,0.034240,...,7.771756,0.000000,2,2.164433,10.822164,774.593338,3.544395,5.304456,0,15
yes,23,6432,609,2820747,6455,2821356,632,2827179,2827811,1.442657,...,4.045019,0.000000,2,1.202565,27.658992,3563.129357,215.853653,223.494427,0,632
simple,23,6432,827,2820529,6455,2821356,850,2826961,2827811,1.940282,...,3.603574,0.000000,1,1.073863,24.698850,3563.129357,293.121464,300.585860,0,850
"""",77,6378,20144,2801212,6455,2821356,20221,2807590,2827811,46.158161,...,0.740480,NaN,0,0.222242,17.112652,11928.737413,7139.829217,7150.760783,0,20221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
directly,2,6453,156,2821200,6455,2821356,158,2827653,2827811,0.360664,...,2.486354,0.000000,0,0.743927,1.487854,309.837335,55.292561,55.873607,0,158
do,60,6395,24504,2796852,6455,2821356,24564,2803247,2827811,56.071859,...,0.097917,0.044732,0,0.029406,1.764378,9295.120062,8685.185421,8686.577710,0,24564
dog,2,6453,270,2821086,6455,2821356,272,2827539,2827811,0.620890,...,1.694940,0.000000,0,0.508015,1.016030,309.837335,95.698664,96.187475,0,272
door,4,6451,263,2821093,6455,2821356,267,2827544,2827811,0.609477,...,2.732837,0.000000,0,0.817103,3.268411,619.674671,93.217588,94.419323,0,267
easy,5,6450,538,2820818,6455,2821356,543,2827268,2827811,1.239498,...,2.022222,0.003066,0,0.605724,3.028622,774.593338,190.688449,192.021320,0,543

In [40]:
corpus.query('[lemma="question" & pos="N.*"]').breakdown()

/opt/tljh/user/lib/python3.9/site-packages/ccc/cwb.py:527: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  crpssbcrps = df["corpus:subcorpus"].str.split(":", 1).str
/opt/tljh/user/lib/python3.9/site-packages/ccc/cwb.py:527: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  crpssbcrps = df["corpus:subcorpus"].str.split(":", 1).str
/opt/tljh/user/lib/python3.9/site-packages/ccc/utils.py:352: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = grouped.aggregate(np.sum)

             freq
item
Question        8
Questions       3
question     1097
questioning     8
questions     443

In [42]:
dump = corpus.query(
    '[word="quest.*"]', 
    context=10
)

/opt/tljh/user/lib/python3.9/site-packages/ccc/cwb.py:527: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  crpssbcrps = df["corpus:subcorpus"].str.split(":", 1).str
/opt/tljh/user/lib/python3.9/site-packages/ccc/cwb.py:527: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  crpssbcrps = df["corpus:subcorpus"].str.split(":", 1).str

In [43]:
lines = dump.concordance(
    form='dict'
)

In [44]:
lines

,,context,contextend,dict
match,matchend,,,
2252,2252,2242,2262,"{'cpos': [2242, 2243, 2244, 2245, 2246, 2247, ..."
2260,2260,2250,2270,"{'cpos': [2250, 2251, 2252, 2253, 2254, 2255, ..."
7651,7651,7641,7661,"{'cpos': [7641, 7642, 7643, 7644, 7645, 7646, ..."
8368,8368,8358,8378,"{'cpos': [8358, 8359, 8360, 8361, 8362, 8363, ..."
19753,19753,19743,19763,"{'cpos': [19743, 19744, 19745, 19746, 19747, 1..."
...,...,...,...,...
205645,205645,205635,205655,"{'cpos': [205635, 205636, 205637, 205638, 2056..."
207736,207736,207726,207746,"{'cpos': [207726, 207727, 207728, 207729, 2077..."
207883,207883,207873,207893,"{'cpos': [207873, 207874, 207875, 207876, 2078..."
207938,207938,207928,207948,"{'cpos': [207928, 207929, 207930, 207931, 2079..."
207996,207996,207986,208006,"{'cpos': [207986, 207987, 207988, 207989, 2079..."

In [45]:
dump = corpus.query(
  cqp_query=query,
  context=5
)

/opt/tljh/user/lib/python3.9/site-packages/ccc/cwb.py:527: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  crpssbcrps = df["corpus:subcorpus"].str.split(":", 1).str
/opt/tljh/user/lib/python3.9/site-packages/ccc/cwb.py:527: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  crpssbcrps = df["corpus:subcorpus"].str.split(":", 1).str

In [46]:
dump.df

                  context  contextend
match   matchend
2252    2252         2247        2257
2260    2260         2255        2265
7651    7651         7646        7656
8368    8368         8363        8373
19753   19753       19748       19758
...                   ...         ...
2813956 2813956   2813951     2813961
2817027 2817027   2817022     2817032
2821484 2821484   2821479     2821489
2821511 2821511   2821506     2821516
2822908 2822908   2822903     2822913

[1125 rows x 2 columns]

In [47]:
dump.concordance(form="kwic", cut_off=None)

,,left_word,node_word,right_word
match,matchend,,,
2252,2252,It 's not just a,question,of cleanliness ; it 's
2260,2260,; it 's also a,question,of how those organisms then
7651,7651,", not out of the",question,-- but only puts it
8368,8368,as never before . The,question,"is , is there a"
19753,19753,to ask myself the simple,question,: Do we actually think
...,...,...,...,...
2813956,2813956,And we simply asked the,question,", if one species needs"
2817027,2817027,just one source . My,question,is : How many of
2821484,2821484,"the United States , one",question,always comes up : Where
2821511,2821511,face when I hear this,question,is that often I have
2822908,2822908,a golden circle and the,question,""" Why ? "" His"

In [48]:
dfColl = dump.collocates(order='mutual_information', cut_off=None)
dump.collocates(order='mutual_information', cut_off=None)

,O11,O12,O21,O22,R1,R2,C1,C2,N,E11,...,log_ratio,binomial_likelihood,conservative_log_ratio,mutual_information,local_mutual_information,ipm,ipm_reference,ipm_expected,in_nodes,marginal
item,,,,,,,,,,,,,,,,,,,,,
javascript,2,11045,1,2816449,11047,2816450,3,2827494,2827497,0.011721,...,8.994079,0.000000,0,2.232067,4.464133,181.044628,0.355057,1.061009,0,3
Malaria,2,11045,3,2816447,11047,2816450,5,2827492,2827497,0.019535,...,7.409117,0.000000,0,2.010218,4.020436,181.044628,1.065171,1.768348,0,5
ponder,4,11043,8,2816442,11047,2816450,12,2827485,2827497,0.046884,...,6.994079,0.000000,0,1.931037,7.724146,362.089255,2.840455,4.244036,0,12
Psycho,2,11045,5,2816445,11047,2816450,7,2827490,2827497,0.027349,...,6.672151,0.000000,0,1.864090,3.728180,181.044628,1.775284,2.475688,0,7
analogous,2,11045,6,2816444,11047,2816450,8,2827489,2827497,0.031256,...,6.409117,0.000000,0,1.806098,3.612196,181.044628,2.130341,2.829358,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
end,6,11041,1502,2814948,11047,2816450,1508,2825989,2827497,5.891740,...,0.026373,0.146223,0,0.007908,0.047446,543.133883,533.295461,533.333899,0,1508
bring,5,11042,1252,2815198,11047,2816450,1257,2826240,2827497,4.911085,...,0.025989,0.156294,0,0.007793,0.038963,452.611569,444.531236,444.562806,0,1257
seven,2,11045,501,2815949,11047,2816450,503,2826994,2827497,1.965216,...,0.025413,0.183940,0,0.007620,0.015240,181.044628,177.883506,177.895856,0,503
",",658,10389,165649,2650801,11047,2816450,166307,2661190,2827497,649.759639,...,0.018253,NaN,0,0.005473,3.601341,59563.682448,58814.820075,58817.745872,0,166307
have,123,10924,31142,2785308,11047,2816450,31265,2796232,2827497,122.152015,...,0.010020,NaN,0,0.003004,0.369551,11134.244591,11057.181913,11057.482996,0,31265

In [52]:
dfColl.to_excel(r'value_collstat.xlsx', index = True)

ModuleNotFoundError: No module named 'openpyxl'

In [53]:
def query2colist(qry, ord='mutual_information', cut=100, minFrq = 5, file=None, values = None):
    query=None
    dump = None
    dfColl = None
    LAll = None
    retList = []

    query = r'{}'.format(qry)
    print(query)
    dump = corpus.query(cqp_query=query, context=5)
    dfColl = dump.collocates(order=ord, cut_off=None)
    LIndex = dfColl.index.to_numpy().tolist()
    LValues = dfColl[['O11','O21','mutual_information']].to_numpy().tolist()
    LAll = list(zip(LIndex, LValues))
    
    i=0
    for word, (o11, o21, mutual_information) in LAll:
        oAll = o11+o21
        if oAll >= minFrq:
            i+=1
            if values:
                retList.append((word, int(o11), int(o21), int(oAll), mutual_information))
            else:
                retList.append(word)
            if i>= cut:
                break
    if file:
        FOut = open(file, 'w')
        for el in retList:
            FOut.write(str(el) + '\n')
        FOut.flush()
    return retList

In [54]:
rList = query2colist("'however'", file='however_mi100_minFrq5.txt', values=True)

'however'

/opt/tljh/user/lib/python3.9/site-packages/ccc/cwb.py:527: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  crpssbcrps = df["corpus:subcorpus"].str.split(":", 1).str
/opt/tljh/user/lib/python3.9/site-packages/ccc/cwb.py:527: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  crpssbcrps = df["corpus:subcorpus"].str.split(":", 1).str

In [55]:
rList

[('patient', 3, 653, 656, 1.279273),
 ('may', 3, 1082, 1085, 1.060747),
 ('matter', 2, 751, 753, 1.043291),
 ('health', 2, 782, 784, 1.025769),
 ('play', 3, 1426, 1429, 0.941145),
 ('understand', 3, 1470, 1473, 0.927974),
 ('problem', 4, 2132, 2136, 0.891514),
 ('question', 2, 1608, 1610, 0.71326),
 ('own', 2, 1625, 1627, 0.708698),
 ('any', 2, 1831, 1833, 0.656923),
 ('kind', 3, 3258, 3261, 0.582826),
 (',', 115, 166192, 166307, 0.458843),
 ('give', 2, 2981, 2983, 0.445432),
 ('think', 5, 7863, 7868, 0.422161),
 ('right', 2, 3570, 3572, 0.367174),
 ('more', 3, 5658, 5661, 0.343284),
 ('which', 3, 5857, 5860, 0.328279),
 ('no', 2, 3950, 3952, 0.323269),
 ('out', 3, 6716, 6719, 0.268872),
 ('good', 2, 4515, 4517, 0.265235),
 ('very', 3, 7131, 7134, 0.242844),
 ('can', 5, 11951, 11956, 0.24044),
 ('world', 2, 4877, 4879, 0.231755),
 ('do', 10, 24554, 24564, 0.228756),
 ('come', 2, 5235, 5237, 0.201003),
 ('want', 2, 5329, 5331, 0.193277),
 ('really', 2, 5421, 5423, 0.185846),
 ('but', 5, 14090, 14095, 0.16896),
 ('if', 3, 8861, 8864, 0.148547),
 ('not', 7, 20687, 20694, 0.148309),
 ('it', 14, 41796, 41810, 0.143903),
 ('in', 14, 42303, 42317, 0.138669),
 ('you', 15, 45607, 45622, 0.135973),
 ('by', 2, 6409, 6411, 0.11316),
 ('with', 4, 13300, 13304, 0.097133),
 ('one', 3, 10281, 10284, 0.084015),
 ('we', 14, 48218, 48232, 0.081848),
 ('at', 3, 10469, 10472, 0.076147),
 ('.', 40, 140335, 140375, 0.073826),
 ('this', 10, 35477, 35487, 0.068986),
 ('--', 5, 17773, 17778, 0.068143),
 ('on', 4, 14535, 14539, 0.058581),
 ('just', 2, 7535, 7537, 0.042887),
 ('have', 8, 31257, 31265, 0.027087),
 ('be', 32, 131208, 131240, 0.006139)]

In [56]:
query = r'"value"'
dump = corpus.query(
  cqp_query=query,
  context=5
)
dfColl = dump.collocates(order='mutual_information', cut_off=100)
LIndex = dfColl.index.to_numpy().tolist()
FOut = open('value_mi100_collstat.txt', 'w')
for el in LIndex:
    FOut.write(el + '\n')
FOut.flush()
# dfColl.to_excel(r'value_collstat.xlsx', index = True)

/opt/tljh/user/lib/python3.9/site-packages/ccc/cwb.py:527: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  crpssbcrps = df["corpus:subcorpus"].str.split(":", 1).str
/opt/tljh/user/lib/python3.9/site-packages/ccc/cwb.py:527: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  crpssbcrps = df["corpus:subcorpus"].str.split(":", 1).str

In [59]:
query = r'"however"'
dump = corpus.query(
  cqp_query=query,
  context=5
)
dfColl = dump.collocates(order='mutual_information', cut_off=None)
# dfColl.to_excel(r'however_collstat.xlsx', index = True)
dfColl

/opt/tljh/user/lib/python3.9/site-packages/ccc/cwb.py:527: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  crpssbcrps = df["corpus:subcorpus"].str.split(":", 1).str
/opt/tljh/user/lib/python3.9/site-packages/ccc/cwb.py:527: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  crpssbcrps = df["corpus:subcorpus"].str.split(":", 1).str

,O11,O12,O21,O22,R1,R2,C1,C2,N,E11,...,log_ratio,binomial_likelihood,conservative_log_ratio,mutual_information,local_mutual_information,ipm,ipm_reference,ipm_expected,in_nodes,marginal
item,,,,,,,,,,,,,,,,,,,,,
patient,3,677,653,2827221,680,2827874,656,2827898,2828554,0.157706,...,4.255919,0.000000,0.000000,1.279273,3.837819,4411.764706,230.915522,231.920621,0,656
may,3,677,1082,2826792,680,2827874,1085,2827469,2828554,0.260840,...,3.527373,0.000000,0.000000,1.060747,3.182241,4411.764706,382.619593,383.588222,0,1085
matter,2,678,751,2827123,680,2827874,753,2827801,2828554,0.181025,...,3.469226,0.000000,0.000000,1.043291,2.086581,2941.176471,265.570531,266.213762,0,753
health,2,678,782,2827092,680,2827874,784,2827770,2828554,0.188478,...,3.410871,0.000000,0.000000,1.025769,2.051539,2941.176471,276.532830,277.173425,0,784
play,3,677,1426,2826448,680,2827874,1429,2827125,2828554,0.343539,...,3.129100,0.000000,0.000000,0.941145,2.823434,4411.764706,504.265749,505.205133,0,1429
understand,3,677,1470,2826404,680,2827874,1473,2827081,2828554,0.354117,...,3.085258,0.000000,0.000000,0.927974,2.783922,4411.764706,519.825141,520.760784,0,1473
problem,4,676,2132,2825742,680,2827874,2136,2826418,2828554,0.513506,...,2.963904,0.000000,0.000000,0.891514,3.566057,5882.352941,753.923265,755.156168,0,2136
question,2,678,1608,2826266,680,2827874,1610,2826944,2828554,0.387053,...,2.370844,0.000000,0.000000,0.713260,1.426519,2941.176471,568.625052,569.195426,0,1610
own,2,678,1625,2826249,680,2827874,1627,2826927,2828554,0.391140,...,2.355671,0.000000,0.000000,0.708698,1.417396,2941.176471,574.636635,575.205564,0,1627
any,2,678,1831,2826043,680,2827874,1833,2826721,2828554,0.440663,...,2.183479,0.000000,0.000000,0.656923,1.313846,2941.176471,647.482879,648.034296,0,1833
kind,3,677,3258,2824616,680,2827874,3261,2825293,2828554,0.783962,...,1.937087,0.000000,0.000000,0.582826,1.748478,4411.764706,1152.102251,1152.885892,0,3261
",",115,565,166192,2661682,680,2827874,166307,2662247,2828554,39.981121,...,1.524894,NaN,0.850694,0.458843,52.766930,169117.647059,58769.237950,58795.766317,0,166307
give,2,678,2981,2824893,680,2827874,2983,2825571,2828554,0.717130,...,1.480315,0.000000,0.000000,0.445432,0.890865,2941.176471,1054.148806,1054.602458,0,2983
think,5,675,7863,2820011,680,2827874,7868,2820686,2828554,1.891511,...,1.402959,0.003066,0.000000,0.422161,2.110806,7352.941176,2780.534069,2781.633301,0,7868
right,2,678,3570,2824304,680,2827874,3572,2824982,2828554,0.858729,...,1.220187,0.000000,0.000000,0.367174,0.734348,2941.176471,1262.432485,1262.836064,0,3572
more,3,677,5658,2822216,680,2827874,5661,2822893,2828554,1.360936,...,1.140782,0.061313,0.000000,0.343284,1.029851,4411.764706,2000.796358,2001.375968,0,5661
which,3,677,5857,2822017,680,2827874,5860,2822694,2828554,1.408776,...,1.090912,0.061313,0.000000,0.328279,0.984838,4411.764706,2071.167244,2071.729937,0,5860
no,2,678,3950,2823924,680,2827874,3952,2824602,2828554,0.950083,...,1.074259,0.000000,0.000000,0.323269,0.646537,2941.176471,1396.809052,1397.180326,0,3952
out,3,677,6716,2821158,680,2827874,6719,2821835,2828554,1.615285,...,0.893471,0.061313,0.000000,0.268872,0.806617,4411.764706,2374.929010,2375.418677,0,6719
good,2,678,4515,2823359,680,2827874,4517,2824037,2828554,1.085912,...,0.881385,0.183940,0.000000,0.265235,0.530471,2941.176471,1596.605789,1596.929032,0,4517
very,3,677,7131,2820743,680,2827874,7134,2821420,2828554,1.715053,...,0.806969,0.061313,0.000000,0.242844,0.728531,4411.764706,2521.682366,2522.136753,0,7134
can,5,675,11951,2815923,680,2827874,11956,2816598,2828554,2.874288,...,0.798980,0.036089,0.000000,0.240440,1.202198,7352.941176,4226.143032,4226.894731,0,11956
world,2,678,4877,2822997,680,2827874,4879,2823675,2828554,1.172939,...,0.770117,0.183940,0.000000,0.231755,0.463509,2941.176471,1724.617151,1724.909618,0,4879
do,10,670,24554,2803320,680,2827874,24564,2803990,2828554,5.905321,...,0.760153,0.018133,0.000000,0.228756,2.287565,14705.882353,8682.847963,8684.295934,0,24564
come,2,678,5235,2822639,680,2827874,5237,2823317,2828554,1.259004,...,0.667922,0.183940,0.000000,0.201003,0.402006,2941.176471,1851.214022,1851.476055,0,5237
want,2,678,5329,2822545,680,2827874,5331,2823223,2828554,1.281602,...,0.642246,0.183940,0.000000,0.193277,0.386554,2941.176471,1884.454541,1884.708583,0,5331
really,2,678,5421,2822453,680,2827874,5423,2823131,2828554,1.303719,...,0.617552,0.183940,0.000000,0.185846,0.371692,2941.176471,1916.987815,1917.234035,0,5423
but,5,675,14090,2813784,680,2827874,14095,2814459,2828554,3.388516,...,0.561440,0.100819,0.000000,0.168960,0.844802,7352.941176,4982.541655,4983.111512,0,14095
if,3,677,8861,2819013,680,2827874,8864,2819690,2828554,2.130955,...,0.493604,0.180447,0.000000,0.148547,0.445641,4411.764706,3133.449369,3133.756683,0,8864
not,7,673,20687,2807187,680,2827874,20694,2807860,2828554,4.974952,...,0.492814,0.059540,0.000000,0.148309,1.038164,10294.117647,7315.389582,7316.105685,0,20694
it,14,666,41796,2786078,680,2827874,41810,2786744,2828554,10.051355,...,0.478173,0.052077,0.000000,0.143903,2.014648,20588.235294,14780.007879,14781.404209,0,41810
in,14,666,42303,2785571,680,2827874,42317,2786237,2828554,10.173240,...,0.460778,0.052077,0.000000,0.138669,1.941362,20588.235294,14959.294509,14960.647737,0,42317
you,15,665,45607,2782267,680,2827874,45622,2782932,2828554,10.967781,...,0.451818,0.034718,0.000000,0.135973,2.039588,22058.823529,16127.663397,16129.089280,0,45622
by,2,678,6409,2821465,680,2827874,6411,2822143,2828554,1.541240,...,0.376012,0.183940,0.000000,0.113160,0.226320,2941.176471,2266.366889,2266.529117,0,6411
with,4,676,13300,2814574,680,2827874,13304,2815250,2828554,3.198355,...,0.322757,0.168031,0.000000,0.097133,0.388533,5882.352941,4703.179845,4703.463324,0,13304
one,3,677,10281,2817593,680,2827874,10284,2818270,2828554,2.472330,...,0.279165,0.180447,0.000000,0.084015,0.252044,4411.764706,3635.593382,3635.779978,0,10284
we,14,666,48218,2779656,680,2827874,48232,2780322,2828554,11.595239,...,0.271966,0.072753,0.000000,0.081848,1.145877,20588.235294,17050.971861,17051.822239,0,48232
at,3,677,10469,2817405,680,2827874,10472,2818082,2828554,2.517527,...,0.253022,0.180447,0.000000,0.076147,0.228442,4411.764706,3702.074421,3702.245034,0,10472
.,40,640,140335,2687539,680,2827874,140375,2688179,2828554,33.746925,...,0.245308,0.031419,0.000000,0.073826,2.953031,58823.529412,49625.619812,49627.831040,0,140375
this,10,670,35477,2792397,680,2827874,35487,2793067,2828554,8.531271,...,0.229227,0.099262,0.000000,0.068986,0.689863,14705.882353,12545.467019,12545.986394,0,35487
--,5,675,17773,2810101,680,2827874,17778,2810776,2828554,4.273929,...,0.226424,0.156294,0.000000,0.068143,0.340713,7352.941176,6284.933487,6285.190242,0,17778
on,4,676,14535,2813339,680,2827874,14539,2814015,2828554,3.495256,...,0.194652,0.168031,0.000000,0.058581,0.234324,5882.352941,5139.903687,5140.082176,0,14539
just,2,678,7535,2820339,680,2827874,7537,2821017,2828554,1.811936,...,0.142504,0.183940,0.000000,0.042887,0.085774,2941.176471,2664.545874,2664.612378,0,7537
have,8,672,31257,2796617,680,2827874,31265,2797289,2828554,7.516279,...,0.090004,0.130378,0.000000,0.027087,0.216697,11764.705882,11053.179880,11053.350935,0,31265
be,32,648,131208,2696666,680,2827874,131240,2697314,2828554,31.550821,...,0.020399,0.069227,0.000000,0.006139,0.196458,47058.823529,46398.106846,46398.265686,0,131240

In [60]:
query = r'"commission"'
dump = corpus.query(
  cqp_query=query,
  context=5
)
dfColl = dump.collocates(order='mutual_information', cut_off=None)
# dfColl.to_excel(r'commission_collstat.xlsx', index = True)
dfColl

/opt/tljh/user/lib/python3.9/site-packages/ccc/cwb.py:527: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  crpssbcrps = df["corpus:subcorpus"].str.split(":", 1).str
/opt/tljh/user/lib/python3.9/site-packages/ccc/cwb.py:527: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  crpssbcrps = df["corpus:subcorpus"].str.split(":", 1).str

,O11,O12,O21,O22,R1,R2,C1,C2,N,E11,...,log_ratio,binomial_likelihood,conservative_log_ratio,mutual_information,local_mutual_information,ipm,ipm_reference,ipm_expected,in_nodes,marginal
item,,,,,,,,,,,,,,,,,,,,,
rest,2,148,379,2828078,150,2828457,381,2828226,2828607,0.020204,...,6.636711,0.000000,0,1.995586,3.991173,13333.333333,133.995320,134.695276,0,381
20,2,148,755,2827702,150,2828457,757,2827850,2828607,0.040143,...,5.642432,0.000000,0,1.697415,3.394831,13333.333333,266.929990,267.622897,0,757
name,2,148,851,2827606,150,2828457,853,2827754,2828607,0.045234,...,5.469750,0.000000,0,1.645562,3.291125,13333.333333,300.870757,301.561864,0,853
10,2,148,1045,2827412,150,2828457,1047,2827560,2828607,0.055522,...,5.173478,0.000000,0,1.556565,3.113129,13333.333333,369.459391,370.146860,0,1047
percent,2,148,1716,2826741,150,2828457,1718,2826889,2828607,0.091105,...,4.457931,0.000000,0,1.341488,2.682976,13333.333333,606.691210,607.366099,0,1718
;,2,148,2561,2825896,150,2828457,2563,2826044,2828607,0.135915,...,3.880274,0.000000,0,1.167763,2.335525,13333.333333,905.440670,906.099716,0,2563
take,3,147,5098,2823359,150,2828457,5101,2823506,2828607,0.270504,...,3.472012,0.000000,0,1.044947,3.134842,20000.000000,1802.396147,1803.361160,0,5101
world,2,148,4877,2823580,150,2828457,4879,2823728,2828607,0.258732,...,2.950987,0.000000,0,0.888181,1.776361,13333.333333,1724.261673,1724.877298,0,4879
or,2,148,7145,2821312,150,2828457,7147,2821460,2828607,0.379003,...,2.400047,0.000000,0,0.722388,1.444775,13333.333333,2526.112294,2526.685397,0,7147
my,2,148,8949,2819508,150,2828457,8951,2819656,2828607,0.474668,...,2.075254,0.000000,0,0.624640,1.249280,13333.333333,3163.915874,3164.455154,0,8951
get,2,148,9994,2818463,150,2828457,9996,2818611,2828607,0.530084,...,1.915919,0.000000,0,0.576685,1.153370,13333.333333,3533.375264,3533.894953,0,9996
with,2,148,13302,2815155,150,2828457,13304,2815303,2828607,0.705506,...,1.503410,0.000000,0,0.452529,0.905058,13333.333333,4702.917527,4703.375195,0,13304
for,2,148,15815,2812642,150,2828457,15817,2812790,2828607,0.838770,...,1.253759,0.000000,0,0.377387,0.754774,13333.333333,5591.387813,5591.798366,0,15817
the,13,137,114525,2713932,150,2828457,114538,2714069,2828607,6.073908,...,1.097902,0.005199,0,0.330475,4.296176,86666.666667,40490.274379,40492.723097,0,114538
--,2,148,17776,2810681,150,2828457,17778,2810829,2828607,0.942761,...,1.085122,0.000000,0,0.326628,0.653257,13333.333333,6284.698689,6285.072476,0,17778
so,2,148,20236,2808221,150,2828457,20238,2808369,2828607,1.073214,...,0.898129,0.183940,0,0.270344,0.540688,13333.333333,7154.430843,7154.758508,0,20238
and,8,142,81124,2747333,150,2828457,81132,2747475,2828607,4.302400,...,0.894924,0.029770,0,0.269379,2.155033,53333.333333,28681.362312,28682.669597,0,81132
to,6,144,66686,2761771,150,2828457,66692,2761915,2828607,3.536652,...,0.762631,0.050409,0,0.229559,1.377353,40000.000000,23576.812375,23577.683291,0,66692
a,4,146,65071,2763386,150,2828457,65075,2763532,2828607,3.450904,...,0.213038,0.168031,0,0.064127,0.256509,26666.666667,23005.829680,23006.023813,0,65075
this,2,148,35485,2792972,150,2828457,35487,2793120,2828607,1.881863,...,0.087843,0.183940,0,0.026442,0.052884,13333.333333,12545.709551,12545.751319,0,35487
that,3,147,53993,2774464,150,2828457,53996,2774611,2828607,2.863388,...,0.067243,0.180447,0,0.020241,0.060723,20000.000000,19089.206589,19089.254888,0,53996

In [61]:
LIndex = dfColl.index.to_numpy().tolist()

In [62]:
LIndex

['rest',
 '20',
 'name',
 '10',
 'percent',
 ';',
 'take',
 'world',
 'or',
 'my',
 'get',
 'with',
 'for',
 'the',
 '--',
 'so',
 'and',
 'to',
 'a',
 'this',
 'that']

In [63]:
# z_score	t_score	log_likelihood	simple_ll	dice	log_ratio	mutual_information	local_mutual_information	conservative_log_ratio
# z_score, t_score, log_likelihood, simple_ll, dice, log_ratio, mutual_information, local_mutual_information, conservative_log_ratio
# 'z_score', 't_score', 'log_likelihood', 'simple_ll', 'dice', 'log_ratio', 'mutual_information', 'local_mutual_information', 'conservative_log_ratio'
# O11	O12	O21	O22	E11	E12	E21	E22
# 'O11', 'O12', 'O21', 'O22', 'E11', 'E12', 'E21', 'E22'
LValues = dfColl[['O11', 'O12', 'O21', 'O22', 'E11', 'E12', 'E21', 'E22', 'z_score', 't_score', 'log_likelihood', 'simple_ll', 'dice', 'log_ratio', 'mutual_information', 'local_mutual_information', 'conservative_log_ratio']].to_numpy().tolist()
#

In [64]:
print(len(LIndex), len(LValues))

21 21

In [65]:
LAll = list(zip(LIndex, LValues))

In [66]:
LAll

[('rest',
  [2.0,
   148.0,
   379.0,
   2828078.0,
   0.020204,
   149.979796,
   380.979796,
   2828076.020204,
   13.928315,
   1.399927,
   14.456996,
   14.420438,
   0.007533,
   6.636711,
   1.995586,
   3.991173,
   0.0]),
 ('20',
  [2.0,
   148.0,
   755.0,
   2827702.0,
   0.040143,
   149.959857,
   756.959857,
   2827700.040143,
   9.78176,
   1.385828,
   11.744867,
   11.714061,
   0.00441,
   5.642432,
   1.697415,
   3.394831,
   0.0]),
 ('name',
  [2.0,
   148.0,
   851.0,
   2827606.0,
   0.045234,
   149.954766,
   852.954766,
   2827604.045234,
   9.19096,
   1.382228,
   11.276735,
   11.246658,
   0.003988,
   5.46975,
   1.645562,
   3.291125,
   0.0]),
 ('10',
  [2.0,
   148.0,
   1045.0,
   2827412.0,
   0.055522,
   149.944478,
   1046.944478,
   2827410.055522,
   8.252212,
   1.374954,
   10.476475,
   10.447534,
   0.003342,
   5.173478,
   1.556565,
   3.113129,
   0.0]),
 ('percent',
  [2.0,
   148.0,
   1716.0,
   2826741.0,
   0.091105,
   149.908895,
   1717.908895,
   2826739.091105,
   6.324281,
   1.349793,
   8.564307,
   8.537773,
   0.002141,
   4.457931,
   1.341488,
   2.682976,
   0.0]),
 (';',
  [2.0,
   148.0,
   2561.0,
   2825896.0,
   0.135915,
   149.864085,
   2562.864085,
   2825894.135915,
   5.056291,
   1.318107,
   7.051963,
   7.027322,
   0.001474,
   3.880274,
   1.167763,
   2.335525,
   0.0]),
 ('take',
  [3.0,
   147.0,
   5098.0,
   2823359.0,
   0.270504,
   149.729496,
   5100.729496,
   2823356.270504,
   5.24802,
   1.575875,
   9.029015,
   8.977489,
   0.001143,
   3.472012,
   1.044947,
   3.134842,
   0.0]),
 ('world',
  [2.0,
   148.0,
   4877.0,
   2823580.0,
   0.258732,
   149.741268,
   4878.741268,
   2823578.258732,
   3.423269,
   1.231263,
   4.718858,
   4.697908,
   0.000795,
   2.950987,
   0.888181,
   1.776361,
   0.0]),
 ('or',
  [2.0,
   148.0,
   7145.0,
   2821312.0,
   0.379003,
   149.620997,
   7146.620997,
   2821310.379003,
   2.633062,
   1.146218,
   3.429435,
   3.411441,
   0.000548,
   2.400047,
   0.722388,
   1.444775,
   0.0]),
 ('my',
  [2.0,
   148.0,
   8949.0,
   2819508.0,
   0.474668,
   149.525332,
   8950.525332,
   2819506.474668,
   2.213957,
   1.078572,
   2.718356,
   2.702482,
   0.00044,
   2.075254,
   0.62464,
   1.24928,
   0.0]),
 ('get',
  [2.0,
   148.0,
   9994.0,
   2818463.0,
   0.530084,
   149.469916,
   9995.469916,
   2818461.530084,
   2.018924,
   1.039387,
   2.386355,
   2.371635,
   0.000394,
   1.915919,
   0.576685,
   1.15337,
   0.0]),
 ('with',
  [2.0,
   148.0,
   13302.0,
   2815155.0,
   0.705506,
   149.294494,
   13303.294494,
   2815153.705506,
   1.541166,
   0.915345,
   1.590343,
   1.57896,
   0.000297,
   1.50341,
   0.452529,
   0.905058,
   0.0]),
 ('for',
  [2.0,
   148.0,
   15815.0,
   2812642.0,
   0.83877,
   149.16123,
   15816.16123,
   2812640.83877,
   1.267935,
   0.821114,
   1.162554,
   1.153404,
   0.000251,
   1.253759,
   0.377387,
   0.754774,
   0.0]),
 ('the',
  [13.0,
   137.0,
   114525.0,
   2713932.0,
   6.073908,
   143.926092,
   114531.926092,
   2713925.073908,
   2.810309,
   1.920952,
   6.271657,
   5.932441,
   0.000227,
   1.097902,
   0.330475,
   4.296176,
   0.0]),
 ('--',
  [2.0,
   148.0,
   17776.0,
   2810681.0,
   0.942761,
   149.057239,
   17777.057239,
   2810679.942761,
   1.088861,
   0.747581,
   0.901461,
   0.893881,
   0.000223,
   1.085122,
   0.326628,
   0.653257,
   0.0]),
 ('so',
  [2.0,
   148.0,
   20236.0,
   2808221.0,
   1.073214,
   148.926786,
   20236.926786,
   2808220.073214,
   0.894616,
   0.655337,
   0.642208,
   0.636386,
   0.000196,
   0.898129,
   0.270344,
   0.540688,
   0.0]),
 ('and',
  [8.0,
   142.0,
   81124.0,
   2747333.0,
   4.3024,
   145.6976,
   81127.6976,
   2747329.3024,
   1.782643,
   1.307299,
   2.623913,
   2.529096,
   0.000197,
   0.894924,
   0.269379,
   2.155033,
   0.0]),
 ('to',
  [6.0,
   144.0,
   66686.0,
   2761771.0,
   3.536652,
   146.463348,
   66688.463348,
   2761768.536652,
   1.309874,
   1.005657,
   1.458009,
   1.416251,
   0.00018,
   0.762631,
   0.229559,
   1.377353,
   0.0]),
 ('a',
  [4.0,
   146.0,
   65071.0,
   2763386.0,
   3.450904,
   146.549096,
   65071.549096,
   2763385.450904,
   0.295585,
   0.274548,
   0.085138,
   0.083073,
   0.000123,
   0.213038,
   0.064127,
   0.256509,
   0.0]),
 ('this',
  [2.0,
   148.0,
   35485.0,
   2792972.0,
   1.881863,
   148.118137,
   35485.118137,
   2792971.881863,
   0.086118,
   0.083536,
   0.00736,
   0.007266,
   0.000112,
   0.087843,
   0.026442,
   0.052884,
   0.0]),
 ('that',
  [3.0,
   147.0,
   53993.0,
   2774464.0,
   2.863388,
   147.136612,
   53993.136612,
   2774463.863388,
   0.080732,
   0.078873,
   0.006544,
   0.006416,
   0.000111,
   0.067243,
   0.020241,
   0.060723,
   0.0])]

In [67]:
lex = 'value'

In [68]:
FOut = open(lex + '_collstat.txt', 'w')
FOut.write("'Collocation','O11','O12','O21','O22','E11','E12','E21','E22','z_score','t_score','log_likelihood','simple_ll','dice','log_ratio','mutual_information','local_mutual_information','conservative_log_ratio'\n")
for Word, LVals in LAll:
    FOut.write("'" + Word + "'" + ',')
    LSVal = [str(IVal) for IVal in LVals]
    SVal = ','.join(LSVal)
    FOut.write(SVal + '\n')

In [69]:
for key, value in LAll:
  print(key, value)

rest [2.0, 148.0, 379.0, 2828078.0, 0.020204, 149.979796, 380.979796, 2828076.020204, 13.928315, 1.399927, 14.456996, 14.420438, 0.007533, 6.636711, 1.995586, 3.991173, 0.0]
20 [2.0, 148.0, 755.0, 2827702.0, 0.040143, 149.959857, 756.959857, 2827700.040143, 9.78176, 1.385828, 11.744867, 11.714061, 0.00441, 5.642432, 1.697415, 3.394831, 0.0]
name [2.0, 148.0, 851.0, 2827606.0, 0.045234, 149.954766, 852.954766, 2827604.045234, 9.19096, 1.382228, 11.276735, 11.246658, 0.003988, 5.46975, 1.645562, 3.291125, 0.0]
10 [2.0, 148.0, 1045.0, 2827412.0, 0.055522, 149.944478, 1046.944478, 2827410.055522, 8.252212, 1.374954, 10.476475, 10.447534, 0.003342, 5.173478, 1.556565, 3.113129, 0.0]
percent [2.0, 148.0, 1716.0, 2826741.0, 0.091105, 149.908895, 1717.908895, 2826739.091105, 6.324281, 1.349793, 8.564307, 8.537773, 0.002141, 4.457931, 1.341488, 2.682976, 0.0]
; [2.0, 148.0, 2561.0, 2825896.0, 0.135915, 149.864085, 2562.864085, 2825894.135915, 5.056291, 1.318107, 7.051963, 7.027322, 0.001474, 3.880274, 1.167763, 2.335525, 0.0]
take [3.0, 147.0, 5098.0, 2823359.0, 0.270504, 149.729496, 5100.729496, 2823356.270504, 5.24802, 1.575875, 9.029015, 8.977489, 0.001143, 3.472012, 1.044947, 3.134842, 0.0]
world [2.0, 148.0, 4877.0, 2823580.0, 0.258732, 149.741268, 4878.741268, 2823578.258732, 3.423269, 1.231263, 4.718858, 4.697908, 0.000795, 2.950987, 0.888181, 1.776361, 0.0]
or [2.0, 148.0, 7145.0, 2821312.0, 0.379003, 149.620997, 7146.620997, 2821310.379003, 2.633062, 1.146218, 3.429435, 3.411441, 0.000548, 2.400047, 0.722388, 1.444775, 0.0]
my [2.0, 148.0, 8949.0, 2819508.0, 0.474668, 149.525332, 8950.525332, 2819506.474668, 2.213957, 1.078572, 2.718356, 2.702482, 0.00044, 2.075254, 0.62464, 1.24928, 0.0]
get [2.0, 148.0, 9994.0, 2818463.0, 0.530084, 149.469916, 9995.469916, 2818461.530084, 2.018924, 1.039387, 2.386355, 2.371635, 0.000394, 1.915919, 0.576685, 1.15337, 0.0]
with [2.0, 148.0, 13302.0, 2815155.0, 0.705506, 149.294494, 13303.294494, 2815153.705506, 1.541166, 0.915345, 1.590343, 1.57896, 0.000297, 1.50341, 0.452529, 0.905058, 0.0]
for [2.0, 148.0, 15815.0, 2812642.0, 0.83877, 149.16123, 15816.16123, 2812640.83877, 1.267935, 0.821114, 1.162554, 1.153404, 0.000251, 1.253759, 0.377387, 0.754774, 0.0]
the [13.0, 137.0, 114525.0, 2713932.0, 6.073908, 143.926092, 114531.926092, 2713925.073908, 2.810309, 1.920952, 6.271657, 5.932441, 0.000227, 1.097902, 0.330475, 4.296176, 0.0]
-- [2.0, 148.0, 17776.0, 2810681.0, 0.942761, 149.057239, 17777.057239, 2810679.942761, 1.088861, 0.747581, 0.901461, 0.893881, 0.000223, 1.085122, 0.326628, 0.653257, 0.0]
so [2.0, 148.0, 20236.0, 2808221.0, 1.073214, 148.926786, 20236.926786, 2808220.073214, 0.894616, 0.655337, 0.642208, 0.636386, 0.000196, 0.898129, 0.270344, 0.540688, 0.0]
and [8.0, 142.0, 81124.0, 2747333.0, 4.3024, 145.6976, 81127.6976, 2747329.3024, 1.782643, 1.307299, 2.623913, 2.529096, 0.000197, 0.894924, 0.269379, 2.155033, 0.0]
to [6.0, 144.0, 66686.0, 2761771.0, 3.536652, 146.463348, 66688.463348, 2761768.536652, 1.309874, 1.005657, 1.458009, 1.416251, 0.00018, 0.762631, 0.229559, 1.377353, 0.0]
a [4.0, 146.0, 65071.0, 2763386.0, 3.450904, 146.549096, 65071.549096, 2763385.450904, 0.295585, 0.274548, 0.085138, 0.083073, 0.000123, 0.213038, 0.064127, 0.256509, 0.0]
this [2.0, 148.0, 35485.0, 2792972.0, 1.881863, 148.118137, 35485.118137, 2792971.881863, 0.086118, 0.083536, 0.00736, 0.007266, 0.000112, 0.087843, 0.026442, 0.052884, 0.0]
that [3.0, 147.0, 53993.0, 2774464.0, 2.863388, 147.136612, 53993.136612, 2774463.863388, 0.080732, 0.078873, 0.006544, 0.006416, 0.000111, 0.067243, 0.020241, 0.060723, 0.0]